h1,a{
    color: aliceblue;
}

h1{
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 3rem;
}

.overlay>button{
    margin-top: 2rem;
}

.body-container{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.main-container{
    /* background-color: aliceblue; */
    /* padding: 20vh, 20vh; */
    border-radius: 1rem;
    height: max-content;
    width: 60%;
    padding: 1.25rem;
    position: relative;
    overflow: hidden;
    /* box-shadow: inset 55px -13px 127px -96px rgba(194,24,91,1); */
    animation: shadowAni 2s forwards infinite ease-in;
    
}

.custom-container{
    display:grid;
    place-items: center;
    padding: 2rem;
}

.overlay{
    height: 100%;
    width: 50%;
    background-color: #c2185b;
    text-align: center;
    display: grid;
    place-items: center;
}

.overlay-content{
    padding: 1rem, 2rem;
    margin: 1rem, 2rem;
}
.overlay-right{
    position: absolute;
    top:0;
    right:0;
}

@keyframes shadowAni {
    0%{
        box-shadow: inset 55px -13px 50px -80px rgba(194,24,91,1);
    }
    50%{
        box-shadow: inset 55px -13px 127px -96px rgba(194,24,91,1);
    }
    100%{
        box-shadow: inset 55px -13px 50px -80px rgba(194,24,91,1);
    }
}