<div class="body-container">
<div class="row main-container">
    <div class="col-md-6 custom-container ">
        <!-- sign In section -->

        <form #UserSignIn = "ngForm" (ngSubmit) = "checkInfo(UserSignIn)" >
            <h1 class="col-md-12 text-center" >Sign In</h1>
            <!-- <div class="row custom-container">
                <div class="col-md-1"></div>
                <div class="col-sm-3 text-center">
                    <a href="www.facebook.com"><img src="" alt=" "></a>
                </div>
                <div class="col-sm-3 text-center">
                    <a href="www.twitter.com"><img src="" alt=" "></a>
                </div>
                <div class="col-sm-3 text-center">
                    <a href="www.linkedin.com"><img src="" alt=" "></a>
                </div>
                <div class="col-md-1"></div>
            </div> -->
            <mat-form-field appearance="fill" class="col-md-12">
                <mat-label>Username</mat-label>
                <input matInput type="text" name="UserName" id="userName" placeholder="Username" #userName = "ngModel" [(ngModel)] = "UserName" required>
                <mat-error *ngIf="userName.invalid">Please enter your <strong>Username</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-md-12">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" id="password" placeholder="Password" #Password = "ngModel" [(ngModel)] = "password" required>
                <mat-error *ngIf="Password.invalid">Please enter your <strong>Password</strong></mat-error>
            </mat-form-field>
            <div class="col-md-12 text-center">
                <span><a href="#">Forgot your password?</a></span>
            </div>
            <div class="col-sm-12 text-center">
                <button mat-raised-button color="primary" class="col-sm-4 m-4 text-center" (click)="onSignIn()">Sign In</button>
                <mat-error *ngIf="loginError">Invalid Credentials! Please try again.</mat-error>
            </div>
        </form>
    </div>
    <div class="col-md-6 custom-container">
        <!-- sign up section -->
        <div id="overlayRight" class="overlay overlay-right">
            <div class="overlay-content">
                <h1>Hello, Friend!</h1>
			    <p>Enter your personal details and start journey with us</p>
                <button mat-raised-button color="accent" (click)="ghostSignUp()">Sign Up</button>
            </div>
        </div>
    </div>
</div>
    
</div>
