<div class="container mx-auto">
    
    <h1 class="text-center col-md-12">
        Employee Table
    </h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mx-auto">

    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName + " " + element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef> Contract Type </th>
        <td mat-cell *matCellDef="let element"> {{element.userType}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
        <td mat-cell *matCellDef="let element" class="text-center"> 
            <button class="mx-2 btn-green" mat-raised-button (click)="viewClicked(element.ecode)">View</button>
            <button mat-raised-button color="primary" (click)="editClicked(element)" href="" class="mx-2 btn-blue">Edit</button>
            <button mat-raised-button color="warn" (click)="deleteClicked(element)" href="" class="mx-2 btn-red">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

