table {
    width: 100%;
  }

.button{
    display: inline-block;
    margin: 0 , 2rem;
}

.btn-green{
  background-color: green !important;
  color: white !important;
}

.btn-blue{
  background-color: rgb(79, 79, 187) !important;
  color: white !important;
}

.btn-red{
  background-color: rgb(200, 62, 62) !important;
  color: white !important;
}