<!-- <app-dashboard *ngIf="userLoggedIn"
(logOut) = catchLogStatus($event)></app-dashboard>

<app-sign-in *ngIf="!userLoggedIn && WantsSignIn"
(loginStatus) = "catchLogStatus($event)"
(signUp) = "catchWantsSignUpStatus($event)"></app-sign-in>

<app-sign-up *ngIf="!userLoggedIn && WantsSignUp"
(registered) = "catchLogStatus($event)"
(signIn) = "catchWantsSignIn($event)"></app-sign-up> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="#">Navbar</a>
    
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="routeEmp()">Employees</a>
      </li>
    </ul>
    <button mat-raised-button color="primary" class="my-2 my-sm-0 end" type="submit" (click)="onLogOut()">Log Out</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
</nav>
<router-outlet></router-outlet>